.game-container {
  width: 500px;
  height: 730px;
  position: relative;
  border: 1px solid #ddd;
  overflow: hidden;
}

.sky {
  background-image: url("assets/fb-game-background.png");
  /* background-color: lightblue; */
  width: 500px;
  height: 580px;
  position: relative;
}

.bird {
  background-image: url("assets/flappy-bird.png");
  /* background-color: green; */
  position: absolute;
  height: 45px;
  width: 60px;
}

.pillar {
  background: url("assets/flappybird-pipe.png");
  background-color: lightgreen;
  width: 60px;
  height: 300px;
  position: absolute;
}

.pillar.reverse {
  transform: rotate(180deg);
}

.ground {
  background-image: url("assets/bottom-background.png");
  width: 500px;
  height: 150px;
  position: relative;
  z-index: +1;
}

.game-over {
  position: absolute;
  width: 500px;
  height: 580;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
}

.game-over-score {
    display: flex;
    flex-direction: column;
  margin-top: 25px;
  width: 250px;
  height: 80px;
  background-color: yellow;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  top:20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px #0000;
  height: 40px;
  align-items: center;
  z-index: 10;

}
